:root {
  --dark-container: #212529;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(69, 40, 130);
  background: radial-gradient(
    circle,
    rgba(69, 40, 130, 1) 6%,
    rgba(92, 63, 160, 1) 22%,
    rgba(165, 136, 252, 1) 72%,
    rgba(184, 188, 189, 1) 100%
  );
}

main {
  max-width: 70%;
  margin: 0 auto;
}

.nes-balloon {
  margin-top: 2rem;
}

.grid-container
.nes-container, .nav-container-home{
  background-color: #fff;
}

.nav-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  padding: 0.5rem;
}

.nav-container img {
  display: block;
  margin: 0 auto;
  max-width: 310px;
}

#btns-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

#btns-list ul {
  max-width: 100%;
  margin: 0 auto;
}

#btns-list li {
  margin: 0.75rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.nav-container-contact {
  margin-bottom: 4rem;
}

.grid-container-contact {
  background-color: transparent;
}

.grid-container, .grid-container-contact {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.5rem;
  margin: 2rem auto;
}

.grid-one {
  grid-column: 1;
}

.grid-one p {
  text-align: left;
}

.grid-two {
  grid-column: 1 / 3;
}


.grid-stack {
  grid-column: 2;
}

.grid-contact {
  grid-column: 1 / 3;
  margin: 3rem auto;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  /*border: 2px solid red;*/
}

.logos-container img {
  width: 90px;
  display: inline;
  margin: 0.5rem;
  image-rendering: pixelated;
  padding: 0;
}

.currently {
  grid-column: 1 / 3;
  right: 0;
  left: 0;
}

.carousel-container {
  grid-column: 1 / 3;
  max-width: 100%;
  margin: 0 auto;
  /*padding: 20px;*/
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.carousel-inner img:hover {
  opacity: 50%;
}

.card {
  padding: 15px;
  color: #000;
  background: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(101, 101, 101, 0.516);
  margin: 10px auto;
  flex: 0 0 350px; 
}

.currently-card {
  padding: 15px 0;
  color: #000;
  background: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(101, 101, 101, 0.516);
  margin: 2rem 6rem;
  flex: 0 0 50px; 
}

.currently-link {
  text-align: center;
}

.currently-card:hover {
  opacity: 50%;
}

.currently-card img {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  padding: 2px;
  background-color: #000;
  /*border: 1px solid #ddd;*/
  box-shadow: 0 0 5px rgba(101, 101, 101, 0.516);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  padding: 2px;
  background-color: #000;
  /*border: 1px solid #ddd;*/
  box-shadow: 0 0 5px rgba(101, 101, 101, 0.516);
}

.card h2, .currently-card h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.card p, .currently-card p {
  font-size: 14px;
  color: #000;
}

.grid-container-canva {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 2rem auto;
}

.canva img {
  max-width: 80%;
  border-radius: 15px;
  padding: 0;
  margin: 0 auto;
}

footer {
  width: 100%;
  border-top: 4px solid #000;
  background-color: #ffffff94;
  margin-top: 3rem;
  padding: 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-content ul,
li {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  margin: 1.5rem;
}

@media only screen and (max-width: 425px) {

  main, body, .grid-container, .nav-container, .grid-contact {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
  }
  .nav-container img {
    max-width: 190px;
  }
  .nav-container #btns-list li, .nav-container-contact #btns-list li, #btns-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .grid-container,.grid-container-contact {
    grid-template-columns: 1fr; 
    margin: 0 1rem;
  }
 .grid-one,.grid-two,.grid-stack,.grid-contact {
    grid-column: 1; 
  }

  .grid-two, .currently-card {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
  }

  .currently-card img {
    max-width: 100%;
    margin: 0 auto;
  }
}
